In [2]:
import pandas as pd
from time import gmtime, strftime
from d3blocks import D3Blocks

In [8]:
def convert_time(minute):
    return strftime("%d-%m-%Y %H:%M:%S", gmtime(int(minute) * 60))

In [4]:
def get_activity(code):
    code = int(code)
    if code in [101, 102, 199, 201, 202, 299, 301, 302, 399, 401, 402, 499, 502]:
        return "Work"
    elif code in [198, 298, 298, 498, 598, 698, 798, 898, 998, 1098, 1198, 1298, 1398, 1498, 1598]:
        return "Travelling"
    elif code in [501]:
        return "Sell food"
    elif code in [504, 505, 506, 507, 508]:
        return "Provide services"
    elif code in [601]:
        return "Housework"
    elif code in [602]:
        return "Shopping"
    elif code in [701, 702]:
        return "Caring"
    elif code in [901, 902, 903]:
        return "Education"
    elif code in [1201, 1202, 1203, 1299]:
        return "Entertainment"
    elif code in [1301, 1302, 1399]:
        return "Sport"
    elif code == 1402:
        return "TV/Youtube"
    elif code == 1404:
        return "Surf web"
    elif code == 1501:
        return "Sleeping"
    elif code == 1502:
        return "Eating"
    elif code == 1503:
        return "Personal hygiene"
    elif code == 1506:
        return "Relaxing"
    else:
        return "Others"

In [5]:
data = pd.read_csv("4_diary_main.csv", usecols=["ID", "BEGIN", "Q401"],
                   encoding='latin-1',
                   converters={"Q401": get_activity, "BEGIN": convert_time})

In [7]:
data.head(10)

               ID                BEGIN              Q401
0  10010000600801  01-01-1970 22:30:00  Personal hygiene
1  10010000600801  01-01-1970 12:30:00              Work
2  10010000600801  01-01-1970 05:40:00        Travelling
3  10010000600801  01-01-1970 11:50:00            Eating
4  10010000600801  01-01-1970 22:50:00          Sleeping
5  10010000600801  01-01-1970 21:00:00            Others
6  10010000600801  01-01-1970 15:00:00        Travelling
7  10010000600801  01-01-1970 18:00:00         Housework
8  10010000600801  01-01-1970 05:00:00  Personal hygiene
9  10010000600801  01-01-1970 15:20:00            Others

In [11]:
data.sort_values(["ID", "BEGIN"])

                     ID                BEGIN              Q401
10       10010000600801  01-01-1970 04:00:00          Sleeping
8        10010000600801  01-01-1970 05:00:00  Personal hygiene
18       10010000600801  01-01-1970 05:20:00            Eating
2        10010000600801  01-01-1970 05:40:00        Travelling
11       10010000600801  01-01-1970 06:00:00              Work
...                 ...                  ...               ...
118924  959613192702040  01-01-1970 18:00:00        Travelling
118925  959613192702040  01-01-1970 18:10:00  Personal hygiene
118932  959613192702040  01-01-1970 18:30:00         Housework
118923  959613192702040  01-01-1970 19:00:00        TV/Youtube
118922  959613192702040  01-01-1970 20:00:00          Sleeping

[118933 rows x 3 columns]

In [13]:
data=data.rename(columns={"ID":"sample_id", "BEGIN": "datetime", "Q401": "activity"})

In [14]:
data= data.iloc[:int(len(data)/4)]

In [15]:
d3= D3Blocks()

[d3blocks] >INFO> Cleaning edge_properties and config parameters..

In [24]:
d3.movingbubbles(data, datetime="datetime", sample_id="sample_id", state="activity", filepath="./moving_point.html",
                 note="How Vietnamese people spend their time", cmap="hsv", center="Travelling", figsize=(780, 800), size=2)

[d3blocks] >INFO> Cleaning edge_properties and config parameters..
[d3blocks] >INFO> Initializing [Movingbubbles]
[d3blocks] >INFO> filepath is set to [/home/huypro/DataAnalytics/Vietnam-time-use-visualization/moving_point.html]
[d3blocks] >INFO> Set the center state at: [Travelling]
[d3blocks] >INFO> Convert to DataFrame.
[d3blocks] >INFO> Node properties are set.
[d3blocks] >INFO> Standardizing input dataframe using method: [samplewise].
[d3blocks] >INFO> Set datetime format to [%d-%m-%Y %H:%M:%S]
[d3blocks] >INFO> Standardize method: [samplewise]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1364/1364 [00:05<00:00, 232.17it/s]
[d3blocks] >INFO> Set all nodes to size: 2
[clustimage] >WARNING> Colormap [Set1] can not create [1364] unique colors! Available unique colors: [9].
[d3blocks] >WARNING> Colormap [Set1] can not create [1364] unique colors! Available unique colors: [9].
[d3blocks] >INFO> Edge properties are set.
[d3blocks] >INFO> Open browser: /home/huypro/DataAnalytics/Vietnam-time-use-visualization/moving_point.html